@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

main {
  height: 950px;
  background-color: hsl(0, 100%, 74%);
}

main>picture>img {
  position: fixed;
}

main>div>h1 {
  font-weight: bold;
  text-align: center;
  padding: 60px 50px 0;
  margin-bottom: 30px;
}

main>div>p {
  font-weight: 400;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 40px;
}

#btn-roxo {
  display: block;
  background-color: hsl(248, 32%, 49%);
  color: white;
  margin: auto;
  padding: 10px 60px;
  width: 330px;
  position: relative;
}

#btn-roxo>span {
  font-weight: bold;
}

.container {
  position: relative;
  margin-top: 40px;
  width: 330px;
  height: 485px;
  padding: 30px;
  background-color: white;
}

form>input {
  width: 100%;
  height: 50px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding-left: 10px;
}

form>p {
  text-align: end;
  font-size: 13px;
}


#btn-verde {
  font-weight: bold;
  background-color: hsl(154, 59%, 51%);
  color: white;
  width: 100%;
  height: 50px;
}

.termos {
  margin-top: 10px;
  color: hsl(246, 25%, 77%);
  text-align: center;
  font-size: 12px;
}

form>p>span {
  color: hsl(0, 100%, 74%);
  font-weight: bold;
}